extends ../layout

block content
  section(class="hero is-info")
    div(class="hero-body")
      div(class="container")
        h1(class="title")=script.Name
        h2(class="subtitle")=script.Description

  
  section(class='section')
    div(class='container')
      h1(class='title') Log Export
      h2(class='subtitle') This contains everything that was sent to the console window

      each row in data.Output
        p #{row}