extends ../layout

block content
  section(class="hero is-info")
    div(class="hero-body")
      div(class="container")
        h1(class="title")=script.Name
        h2(class="subtitle")=script.Description

  
  section(class='section')
    div(class='container')

      each row in data
        h5(class="is-5") #{row}