
extends layout

block content
  div(class="container")
    h1 PowerShell Script Dashboard

    p This is a service that lets you trigger PowerShell scripts to handle tasks for you.
      
    a(class="button" href="/scripts") Available Scripts
