extends layout

block content

  section(class="hero is-info")
    div(class="hero-body")
      div(class="container")
        h1(class="title")=title
        h2(class="subtitle") cookie

  div(class='container')
    p PowerDash is a PowerShell webapp that can be ran from the backend to allow for easier execution of scripts.
    | If you have someone who needs to use PowerShell scripts to maintain the network but would rather not deal with PowerShell then this is a helper to that type of problem.
